<div class="map-container-wrapper" >

  <!-- Canvas -->
  <div id="map-container" class="map-canvas"></div>

  <!-- Custom Controls -->
  <div class="map-controls">
    <button class="map-control-btn" title="Zoom in" type="button" (click)="zoomIn()">
      <i class="bi bi-plus-lg"></i>
    </button>
    <div class="divider"></div> <!-- خط فاصل بين الزرارين -->
    <button class="map-control-btn" title="Zoom out" type="button" (click)="zoomOut()">
      <i class="bi bi-dash-lg"></i>
    </button>
  </div>

  <!-- Loading Overlay -->
  <div *ngIf="!mapInitialized" class="map-loading">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading map...</span>
    </div>
  </div>

</div>
