.aspect-ratio-1x1 {
  aspect-ratio: 1 / 1; /* يخلي الصورة مربعة زي الديزاين */
}

/* تكبير الصورة عند الوقوف عليها */
.service-card-hover:hover img {
  transform: scale(1.05);
  transition: transform 0.4s ease;
}

.service-card-hover img {
  transition: transform 0.4s ease;
}