
.search-section:hover {
  background-color: #EBEBEB; 
  cursor: pointer;
}

input::placeholder {
  color: #717171;
  font-weight: 400;
}

.category-section {
  animation: fadeIn 0.5s ease-out;
}

.cat-icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

/* Optional: Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}