/* تحسين شكل أقسام البحث عند المرور بالماوس */
.search-section:hover {
  background-color: #EBEBEB; /* رمادي فاتح جداً */
  cursor: pointer;
}

input::placeholder {
  color: #717171;
  font-weight: 400;
}