
<!-- --- START OF FILE image-gallery.html --- -->


<div class="gallery-container" *ngIf="images && images.length >= 5">

  <!-- الصورة الكبيرة على اليسار -->
  <div class="gallery-item main-item">
  <img
      [src]="getFullImageUrl(images[0])"
      [alt]="title"
      *ngIf="images.length > 0"
    >
    <div class="overlay"></div>
  </div>

  <!-- الصور الصغيرة على اليمين -->
  <div class="gallery-item sub-item">
    <img
      [src]="getFullImageUrl(images[1])"
      [alt]="title"
      *ngIf="images.length > 0"
    >
    <div class="overlay"></div>
  </div>

  <div class="gallery-item sub-item top-right">
   <img
      [src]="getFullImageUrl(images[2])"
      [alt]="title"
      *ngIf="images.length > 0"
    >
    <div class="overlay"></div>
  </div>

  <div class="gallery-item sub-item">
     <img
      [src]="getFullImageUrl(images[3])"
      [alt]="title"
      *ngIf="images.length > 0"
    >
    <div class="overlay"></div>
  </div>

  <div class="gallery-item sub-item bottom-right">
   <img
      [src]="getFullImageUrl(images[4])"
      [alt]="title"
      *ngIf="images.length > 0"
    >
    <div class="overlay"></div>
  </div>

  <!-- زر عرض كل الصور -->
  <button class="show-all-btn" (click)="showAllPhotos()">
    <i class="fa fa-th"></i> <!-- أيقونة النقاط -->
    Show all photos
  </button>

</div>


