
@import 'leaflet/dist/leaflet.css';
body {
  margin: 0;
  padding: 0;
}

:root {
  --bs-body-font-family: 'Inter', sans-serif;
  --bs-font-sans-serif: 'Inter', sans-serif;
}


body, html {
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;
}

.swal2-container {
  z-index: 9999 !important;
}

.swal2-popup {
  font-family: 'Inter', sans-serif !important; 
}

h1, h2, h3, h4, h5, h6,
button, input, optgroup, select, textarea, .btn {
  font-family: 'Inter', sans-serif !important;
}




/* إخفاء شريط التمرير (Scrollbar) لجميع العناصر التي تحمل هذا الكلاس */
.cards-scroller::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
  -webkit-appearance: none !important;
}

.cards-scroller,
.no-scrollbar {
  scrollbar-width: none !important;  /* Firefox */
  -ms-overflow-style: none !important;  /* IE 10+ */
  overflow-y: hidden; /* تأكيد إخفاء السكرول العمودي */
}