<div class="booking-card">

  <!-- Header -->
  <div class="card-header">
    <div class="price">
      <span class="amount">{{ pricePerNight | number }} {{ currency }}</span>
      <span class="period">night</span>
    </div>
    <div class="rating" *ngIf="(reviewsCount ?? 0) > 0">
      <span class="star">★</span> {{ rating }} · <u>{{ reviewsCount }} reviews</u>
    </div>
  </div>

  <!-- Booking Form -->
  <div class="booking-form">
    
 
    <div class="date-picker-wrapper" (click)="toggleCalendarModal()">
      
      <!-- Check-in Field -->
      <div class="date-input check-in" [class.active]="isCalendarOpen && !checkInDate">
         <label>CHECK-IN</label>
         <div class="fake-input" [class.placeholder]="!checkInDate">
          {{ checkInDate ? (checkInDate | date:'d/M/yyyy') : 'Add date' }}
        </div>
      </div>
      
      <!-- Check-out Field -->
      <div class="date-input check-out" [class.active]="isCalendarOpen && checkInDate && !checkOutDate">
        <label>CHECK-OUT</label>
        <div class="fake-input" [class.placeholder]="!checkOutDate">
          {{ checkOutDate ? (checkOutDate | date:'d/M/yyyy') : 'Add date' }}
        </div>
      </div>
    </div>

    <div class="calendar-popup" *ngIf="isCalendarOpen">
      <app-calendar-section
         [checkIn]="checkInDate"
         [checkOut]="checkOutDate"
         [blockedDates]="blockedDates" 
         (datesSelected)="onPopupDatesSelected($event)">
      </app-calendar-section>
      
      <div class="popup-footer">
        <button class="close-link" (click)="closeCalendar()">Close</button>
      </div>
    </div>

    <!-- Guests Dropdown  -->
    <div class="guests-input-container">
       <div class="guests-trigger" (click)="toggleGuestMenu()">
          <div class="label-text">
            <label>GUESTS</label>
            <span>{{ guestLabel }}</span>
          </div>
          <i class="fa-solid" [class.fa-chevron-up]="isGuestMenuOpen" [class.fa-chevron-down]="!isGuestMenuOpen"></i>
       </div>

       <div class="guests-dropdown" *ngIf="isGuestMenuOpen">
          <div class="guest-row">
             <div class="info">Guests</div>
             <div class="controls">
               <button class="round-btn" [disabled]="guests.adults <= 1" (click)="updateCount('adults', -1)">-</button>
               <span>{{ guests.adults }}</span>
               <button class="round-btn" (click)="updateCount('adults', 1)" [disabled]="(guests.adults + guests.children) >= maxGuests">+</button>
             </div>
          </div>
      
           <!-- <div class="guest-row">
          <div class="info">
            <div class="type">Children</div>
            <div class="sub">Ages 2–12</div>
          </div>
          <div class="controls">
            <button class="round-btn" [disabled]="guests.children <= 0" (click)="updateCount('children', -1)">-</button>
            <span class="count">{{ guests.children }}</span>
            <button class="round-btn" (click)="updateCount('children', 1)"[disabled]="(guests.adults + guests.children) >= maxGuests">+</button>
          </div>
        </div>

        <div class="guest-row">
          <div class="info">
            <div class="type">Infants</div>
            <div class="sub">Under 2</div>
          </div>
          <div class="controls">
            <button class="round-btn" [disabled]="guests.infants <= 0" (click)="updateCount('infants', -1)">-</button>
            <span class="count">{{ guests.infants }}</span>
            <button class="round-btn" (click)="updateCount('infants', 1)">+</button>
          </div>
        </div>

       
        <div class="guest-row">
          <div class="info">
            <div class="type">Pets</div>
            <div class="sub link">Bringing a service animal?</div>
          </div>
          <div class="controls">
            <button class="round-btn" [disabled]="guests.pets <= 0" (click)="updateCount('pets', -1)">-</button>
            <span class="count">{{ guests.pets }}</span>
            <button class="round-btn" (click)="updateCount('pets', 1)">+</button>
          </div>
        </div> -->

        <p class="disclaimer">
             This place has a maximum of {{ maxGuests }} guests.
          </p>
          <div class="dropdown-footer">
             <button class="close-link" (click)="toggleGuestMenu()">Close</button>
          </div>
       </div>
    </div>

  </div>

  <!-- ... ( Reserve Button, Price Breakdown) ... -->
   <button class="reserve-btn" (click)="onReserve()">
     {{ isInstantBook ? 'Request to Book' : 'Reserve' }}
  </button>
  
  <p class="no-charge-text" *ngIf="!priceBreakdown">You won't be charged yet</p>

  <!-- Price Breakdown -->
  <div class="price-breakdown" *ngIf="priceBreakdown">
    <div class="line-item">
      <span class="desc">{{ priceBreakdown.basePrice }} x {{ priceBreakdown.totalNights }} nights</span>
      <span class="value">{{ priceBreakdown.subTotal }} {{ currency }}</span>
    </div>
    
    <div class="line-item" *ngIf="priceBreakdown.cleaningFee > 0">
      <span class="desc">Cleaning fee</span>
      <span class="value">{{ priceBreakdown.cleaningFee | number }} {{ currency }}</span>
    </div>

    <div class="line-item">
      <span class="desc">Airbnb service fee</span>
      <span class="value">{{ priceBreakdown.serviceFee | number }} {{ currency }}</span>
    </div>
    
    <div class="line-item total">
      <span>Total</span>
      <span>{{ priceBreakdown.finalTotalPrice }} {{ currency }}</span>
    </div>
  </div>

</div>